.App {
  /* text-align: center; */
  display: grid;
  grid-column: span;
  grid-row: span;
  grid: auto auto;
  /* grid-gap: 30px; */
  /* min-height: 100vh; */

}

body {
  background-color: whitesmoke;
}